/* 
|| Global styles & custom css can be written here.
*/

/* Import tailwind base styles */
@tailwind base;

/* Import tailwind component styles */
@tailwind components;

/* Import tailwind utility styles */
@tailwind utilities;

/* .prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose blockquote {
  color: #243e63;
} */

@import url("https://fonts.googleapis.com/css?family=Muli:100,200,300,400,600&display=swap");

/* * {
  font-family: "Muli", sans-serif;
} */

#marketing-content a {
  color: #ffc414;
  margin-left: 17px;
}

.marketing-arrow {
  color: #ffc414;
}

#marketing-content {
  font-weight: 600;
}

.prose a {
  color: #6d06ff;
}

span.hljs-string {
  color: #7556e8;
}

/* code css */
code.inline-code {
  font-weight: 100;
}

code {
  font-weight: normal !important;
}

code.hljs-keyword {
  font-weight: bold !important;
}

code > span.hljs-string {
  font-weight: 100 !important;
}

.prose code {
  @apply text-base bg-gray-100 px-2 py-1 text-gray-700;
}

.prose code:before {
  content: none;
}

.prose code:after {
  content: none;
}

/* list item css */
.prose ul > li::before {
  background-color: #6d06ff;
}

.prose ul > li > ul > li::before {
  background-color: #6b7280;
}

.prose ul > li > ol > li::before {
  color: #6b7280;
}

.prose ol > li::before {
  color: #6d06ff;
}

.prose ol > li > ol > li::before {
  color: #6b7280;
}

.prose ol > li > ul > li::before {
  background-color: #6b7280;
}

.custom-shadow {
  box-shadow: 0 5px 30px -8px rgb(85 63 164 / 25%);
}

#__next {
  @apply h-full;
}

#ContentContainer {
  min-height: 40rem;
}

/* .SearchResult mark {
  @apply bg-indigo-900 text-white
} */
