/* 
|| Global styles & custom css can be written here.
*/

/* Import tailwind base styles */
@tailwind base;

/* Import tailwind component styles */
@tailwind components;

/* Import tailwind utility styles */
@tailwind utilities;

/* .prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose blockquote {
  color: #243e63;
} */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

#marketing-content a {
  color: #ffc414;
  margin-left: 17px;
}

#marketing-content a::after {
  content: "";
  display: inline-block;
  font-family: icomoon;
  font-size: 0.6875rem;
  font-weight: 400;
  margin-left: 6px;
  position: relative;
}

#__next {
  @apply h-full;
}

#ContentContainer {
  min-height: 40rem;
}

.prose code {
  @apply text-base bg-gray-100 px-2 py-1 text-gray-700 font-normal;
}

.prose code:before {
  content: none;
}

.prose code:after {
  content: none;
}

/* .SearchResult mark {
  @apply bg-indigo-900 text-white
} */
